﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/bootstrap.css" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="main.js"></script>
    <style>
        .container-content{
            display: block;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 150px;
            padding-bottom: 100px;
            padding-left: 12em;
            box-shadow: 10px 10px 5em #888888;
            border-radius: 30em;
        }
    </style>
</head>
<body ng-app="app" class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#entradas">Adicionar Recursos</a></li>
                <li><a href="#recursos">Recursos</a></li>
                <li><a href="#registros">Registros</a></li>
                
            </ul>
        </div>
    </nav>

    <div ng-controller="MainController">
        <div class="container-content" id="recursos">
            <h1 >Recursos</h1>
            <table class="table table-hover">
                <tr class="heading">
                    <th>Descricao </th>
                    <th>Quantidade </th>
                    <th>Observação</th>
                    
                </tr>
                <tr ng-repeat="r in recursos">
                    <td>{{ r.Descricao }}</td>
                    <td>{{ r.Quantidade }}</td>
                    <td>{{ r.Observacao }}</td>
                    
                </tr>
            </table>
        </div>

        <div class="container-content" id="registros">
            <h1 >Registros</h1>
            <table class="table table-hover">
                <tr class="heading">
                    <th>Descrição </th>
                    <th>Data Transação </th>
                    

                </tr>
                <tr ng-repeat="reg in registrosLog">
                    <td>{{ reg.Descricao }}</td>
                    <td>{{ reg.Data }}</td>
                    
                    
                </tr>
            </table>
        </div>

    </div>
    <script>
        $(document).ready(function () {

            $("form").submit(function (event) {
                $.post("http://localhost:53202/api/recursos/", $('#registrarRecursoForm').serialize());

                
                event.preventDefault();
            });
        });
        
        
    </script>
    <div class="container-content" id="entradas">
        <h1>Adicionar Recursos</h1>
        <form name="registrarRecurso" id="registrarRecursoForm" >
            <div class="row">
                <div class="col-xs-2">
                    <label>Descrição</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" name="descricao" required />
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label>Quantidade</label>
                </div>
                <div class="col-xs-3">
                    <input type="number" name="quantidade" required />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label>Observação</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" name="observacao" required />
                </div>
            </div>
                    
                    
            <input type="submit" value="Salvar" ng-disabled="registrarRecurso.$invalid" />
        </form>
        
    </div>
    <footer>
        <p>Posted by: Samuel</p>
        <p>
            Git Repositório: <a href="https://github.com/orbita95/">
                                 //github.com/orbita95/
            </a>.
        </p>
    </footer>
</body>
</html>
